{% comment %} {% extends "base.html" %} {% endcomment %}

{% block content %}
  <h1>Bhav of previous day</h1>
  
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Code:</strong> {{ code }}</li>
    {% comment %} <li><strong>Name:</strong> {{ name }}</li>
    <li><strong>Open:</strong> {{ open }}</li>
    <li><strong>High:</strong> {{ high }}</li>
    <li><strong>Low:</strong> {{ low }}</li>
    <li><strong>Close:</strong> {{ close }}</li> {% endcomment %}
  </ul>
{% endblock %}
